<%= render 'search' %>
<div class="h4">History</div>

<ul class="list-group">
  <% @activities.each do |activity| %>
    <%= link_to activity.url.to_s, activity_path(id: activity.id), class: 'list-group-item list-group-item-action' %>
  <% end %>
</ul>
