<%= render 'search' %>
<section class="jumbotron text-center" style="padding: 1rem 1rem;">
  <div class="container">
    <h1 class="jumbotron-heading">Top <%= pluralize(@show.count, 'contributor') %></h1>
    <p class="lead text-muted"><%= link_to @url, @url %></p>
    <p>
      <%= link_to 'Download result', download_zip_activity_path, class: 'btn btn-outline-primary' %>
    </p>
  </div>
</section>

<div class="card-group">
  <% @show.each_with_index do |user, index| %>
    <%= render 'user', {user: user, top: index} %>
  <% end %>
</div>
