<%= form_for :activity, url: activities_path do |f| %>
  <div class="align-middle input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">GitHub repo path</span>
    </div>
    <%= f.text_field :url, class: 'form-control', placeholder: 'https://github.com/rails/rails' %>
    <div class="input-group-append">
      <%= f.submit class: "btn btn-outline-success", value: 'search' %>
    </div>
  </div>
<% end %>
