<div class="card">
  <img class="card-img-top" src="<%= user["author"]["avatar_url"] %>" alt="<%= user["author"]["login"] %>">
  <div class="card-body">
    <small class="text-muted float-sm-right">
      <%= link_to 'Download PDF', download_pdf_activity_path(top: top), class: "text-right text-muted" %>
    </small>
    <%= link_to user["author"]["login"], user["author"]["html_url"], class: "card-title" %>
    <p class="card-text"><%= user["total"] %> commits</p>
  </div>
</div>
